<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static',filename='styles/doc.css') }}">
    <title>vpnconservice documentation</title>
</head>
<body>
{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}

<div class="mainTitle">Документация vpnconservice</div>
<div class="text">    Перед запуском приложения в папке с проектом должен лежать файл appconf.txt
    в котором построчно должы быть указаны следующие поля:</div>

<div class="appConfText">
    <div class="appConfText"> Пароль указываемый в заголовке запроса "Auth" : (любая строка)</div>
    <div class="appConfText">Рабочую дирректорию в которой лежит проект. Пример: /ur/work/dir/ (Обязательно / в конце)</div>
    <div class="appConfText">Адресс сервера, на котором запускается проет, и порт, который слушает wireguard. Пример: 0.0.0.0:0000</div>
    <div class="appConfText">Ответ на вопрос: "Запуск в тестовом режиме?(YES/NO)"</div></div>
<div>

</div>
<div class="routeUsage">
    <div class="routeUsageHeader">Аутентификация</div>
    <div class="text"> В каждом запросе должен присутствовать ключ "Auth" со значением в виде пароля,
        который был указан в appconf.</div>
    <img src="/static/images/AuthExample.jpg">
</div>
<div>

</div>
<div class="navbar">
    <div class="routeUsageHeader">Доступные пути /api/1.0/:</div>
    <div class="navContentText">
        <li><a name="navHref" href="doc?scroll=peers">/api/1.0/peers:</a> (Методы: GET, POST, PUT)</li>
        <li><a name="navHref" href="doc?scroll=peer">/api/1.0/peers/{peerId}:</a> (Методы: GET, DELETE)</li>
        <li><a name="navHref" href="doc?scroll=conf">/api/1.0/conf:{peerId}</a> (Методы: GET, POST)</li>
        <li><a name="navHref" href="doc?scroll=">/api/1.0/logs:</a> (Методы: GET, DELETE)</li>
        <li><a name="navHref" href="doc?scroll=">/api/1.0/appconf:</a> (Методы: GET)</li>
        <li><a name="navHref" href="doc?scroll=">/api/1.0/doc:</a> (Методы: GET)</li>
    </div>
</div>
<div>

</div>
<div class="routeUsage" id="peers">
    <div class="routeUsageHeader">/api/1.0/peers:</div>

    <div class="routeUsageHeader">Метод GET:</div>
    <div class="text">Возвращает список всех пиров в виде <bold>списка json</bold> с кодом 200.</div>
    <img src="/static/images/GETpeersExample.jpg">

    <div class="routeUsageHeader">Метод POST:</div>
    <div class="text">Создание нового пира. В запросе должно присутствовать тело:  </div>
    <img src="/static/images/POSTpeersExample.jpg">
    <div class="text"><bold>peerId</bold> должен быть строкой вида: <bold>xxxxx_yyy</bold>, где: х – латиницу, у – цифры.</div>
    <div class="text"><bold>peerIp</bold> должен быть строкой вида: <bold>10.8.0.yyy</bold>где: у – цифры..</div>
    <div class="text">Ответ:</div>
    <div class="text">При корректном запросе возвращает пира в виде <bold>json</bold> код <bold>200</bold></div>
    <img src="/static/images/POSTpeersAnswerExample.jpg">
    <div class="text">При некорректном запросе возвращает ответ в виде <bold>string</bold> код <bold>4ХХ</bold></div>
    <img src="/static/images/POSTpeersAnswerBADExample.jpg">

    <div class="routeUsageHeader">Метод PUT:</div>
    <div class="text">Изменение полей пира. В запросе должно присутствовать тело,
        оно не может быть пустым и должно содержать <bold>peerId</bold>:  </div>
    <img src="/static/images/PUTpeerBODYExample.jpg">
    <div class="text"><bold>peerIp</bold> должен быть строкой вида: <bold>10.8.0.yyy</bold>где: у – цифры..</div>
    <div class="text">Ответ:</div>
    <div class="text">При корректном запросе возвращает пира с новыми полями в виде <bold>json</bold> код <bold>200</bold></div>
    <img src="/static/images/PUTpeerExample.jpg">
    <div class="text">При некорректном запросе возвращает ответ в виде <bold>string</bold> код <bold>4ХХ</bold></div>
    <img src="/static/images/POSTpeersAnswerBADExample.jpg">
</div>
<div>

</div>
<div class="routeUsage" id="peer">
    <div class="routeUsageHeader">/api/1.0/peers/{peerId}:</div>
    <div class="text">Вместо <bold>{peerId}</bold> следует указать id пира</div>

    <div class="routeUsageHeader">Метод GET:</div>
    <div class="text">Возвращает пира в виде <bold>json</bold> с кодом 200.</div>
    <img src="/static/images/GETpeerExample.jpg">
    <div class="text">При некорректном запросе возвращает ответ в виде <bold>string</bold> код <bold>4ХХ</bold></div>
    <img src="/static/images/GETpeerBADExample.jpg">

    <div class="routeUsageHeader">Метод DELETE:</div>
    <div class="text">Удаление пользователя. Запрос не требует тела, достаточно peerId в url.
    Если такой пользователь есть, возвращает ответ в виде <bold>string</bold> с кодом 200.</div>
    <img src="/static/images/DELETEpeerExample.jpg">
    <div class="text">Иначе возвращает ошибку в виде <bold>string</bold> с кодом <bold>4XX</bold>.</div>
    <img src="/static/images/GETpeerBADExample.jpg">
</div>
<div>

</div>
<div class="routeUsage" id="conf">
    <div class="routeUsageHeader">/api/1.0/conf/{peerId}:</div>
    <div class="text">Вместо <bold>{peerId}</bold> следует указать id пира</div>

    <div class="routeUsageHeader">Метод GET:</div>
    <div class="text">Возвращает конфигурационный файл для клиета wireguard.
        Вместо <bold>{peerId}</bold> следует указать токен, полученный в методе <bold>POST</bold>.
        Общая логика такова: Сначала вы делаете <bold>POST</bold> запрос используя <bold>peerId</bold> и получаете токен,
        следом вы совершаете <bold>GET</bold> запрос, вместо <bold>peerId</bold>  используя <bold>token</bold>.
        Таким образом, вы можете перенаправлять пользователя напрямую на сервер по ссылке для скачивания файла.
        Ответ в виде <bold>файла</bold> с кодом 200.</div>
    <img src="/static/images/GETconfExample.jpg">
    <div class="text">Иначе возвращает ошибку в виде <bold>string</bold> с кодом <bold>4XX</bold>.</div>
    <img src="/static/images/GETconfBADExample.jpg">

    <div class="routeUsageHeader">Метод POST:</div>
    <div class="text">Возвращает токен для скачивания конфигурационного файла для клиета wireguard.
        Подробнее про токен можно узнать в методе <bold>GET</bold>.
        Ответ в виде <bold>string</bold> с кодом 200.</div>
    <img src="/static/images/POSTconfExample.jpg">
    <div class="text">Иначе возвращает ошибку в виде <bold>string</bold> с кодом <bold>4XX</bold>.</div>
    <img src="/static/images/GETpeerBADExample.jpg">

</div>


</body>

</html>